.aboutMeHeading{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw);
    white-space: nowrap;
}
.aboutMeHeading::after{
    content: "";
    display: block;
    background-color: #B9D8F3;
    position: relative;
    top: 1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
}
.inner{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}
.aboutMeSection p{
    margin: 0px 0px 15px;  
}
p > a{
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink:auto;
    position: relative;
    cursor: pointer;
    color: #29ce6b;
}
.skillsList{
    display: grid;
    grid-template-columns: repeat( 2, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
}
.skillsList li{
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.skillsList li::before{
    content:">";
    position:absolute;
    left:0px;
    color: #29ce6b;
    font-size: 13px;
    line-height: 16px;
}
.styledPic{
    position: relative;
    max-width: 300px;
}
.wrapper::before, .wrapper::after{
    border-radius: 5px;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
} 
.wrapper::before{
    top: 0px;
    left: 0px;
    background-color: #272d2d;
}
.wrapper::after{
    border: 2px solid #29ce6b;
    top: 20px;
    left: 20px;
    z-index: -1;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.imgWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.profilePicture {
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    max-width: 100%;
    height: 100%;
    vertical-align: middle;
}

@media screen and (max-width: 500px) {
    .inner{
        display: block;
    }
    .styledPic{
        margin: 60px 40px 0px 40px;
        height: 320px;
    }
}