/* Navigation bar & Header */
header{
  position: fixed;
  padding: 0px 40px;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  top: 0px;
  z-index: 11;
  width: 95%;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  box-shadow: 0px 10px 30px -10px rgba(0,0,0, 0.5);
  background-color:rgba(39,45,45, 0.85);
  transition: top 0.3s;
}
.navigation {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  counter-reset: item 0;
  z-index: 12;
}
.logo {
  font-size: 40px;
  color: #23CE6B;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2.5px 2.5px  rgba(0,0,0,0.2);
  /* new code adding in */
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}
.navigationSub{
  display: flex;
  -moz-box-align: center;
  align-items: center;
}
ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
  /* new code */
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: outside none none;
}
li {
  /* New code */
  margin: 0px 5px;
  position: relative;
}
li > a {
  padding:10px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  color:#EDF5FC;
  font-family: 'Open Sans', sans-serif;
}
li > a:hover {
  color: #23ce23;
}
.resumeButton {
  color: #23ce23;
  background: transparent;
  border: 1px solid #23ce23;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
  font-size: 14px;
}
.resumeButton:hover {
  background:#23ce2325;
  color: #52E28E;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0px 10px 0px;
  font-weight:600;
  color: #EDF5FC;
  line-height: 1.1;
}
/* Hero content */
main {
  padding: 0px 150px;
  max-width: 1600px;
  min-height: 100vh;
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height:80vh;
}
 section {
   margin: 0px auto;
   padding: 100px 0px;
   max-width: 1000px;
 }
.intro {
  margin: 0px 0px 30px 4px;
  color:#23ce23;
  font-family: 'Montserrat', sans-serif;
}
 .bigHeading {
   margin: 0px;
   font-size:clamp(40px, 8vw, 80px)
 }
 h3 {
  margin-top: 10px;
  color: #B9D8F3;
  line-height: 0.9;
}
.hero p{
  margin:20px 0px 0px;
  max-width:500px;
}
.emailLink{
  color: #23ce23;
  border: 1px solid #23ce23;
  background-color: transparent;
  border-radius: 5px;
  padding: 1.25rem 1.75rem;
  font-size: 17px; 
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
}
.emailLink:hover {
  background:#23ce2325;
  color: #52E28E;
}
/* about Me section in the main section of the css is located in the About.css */
.aboutMe{
  max-width: 900px;
}
.contact{
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
}
.contact p{
  margin-bottom:50px;
}

/* Tablet size */
@media screen and (max-width: 768px) {
  header{
    width: 90%;
  }
  .aboutMe{
    max-width: 700px;
  }
  .logo{
    font-size: 25px;
  }
  .navigationSub{
    display: none;
  }
  .hamburgerMenuButton{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px none;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
  }
  .hamburgerBox{
    display: inline-block;
    position: relative;
    height: 24px;
    width: 20px;
  }
  .hamburgerBoxInner{
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: #23ce23;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
  }
  .hamburgerBoxInner::before{
    width: 120%;
    top: -10px;
    opacity: 1;
  }
  .hamburgerBoxInner::after{
    width: 80%;
    bottom: -10px;
    transform: rotate(0deg);
  }
  .hamburgerBoxInner::before, .hamburgerBoxInner::after{
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    height: 2px;
    border-radius: 4px;
    background-color: #23ce23;
    transition-timing-function: ease;
    transition-duration: 0.15s;
    transition-property: transform;
  }
 }

 