/* Navigation bar & Header */
header{
  padding: 0px 40px;
}
.navigation{
 display: flex;
 justify-content: space-between;
 z-index: 12;
}
.logo{
  font-size: 40px;
  color: #23CE6B;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2.5px 2.5px  rgba(0,0,0,0.2);
}
.navigationSub{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ol{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
li {
  margin: 0px 5px;
  position: relative;
}
a{
  padding:10px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  color:#EDF5FC;
  font-family: 'Open Sans', sans-serif;
}
a:hover{
  color: #23ce23;
}
.resumeButton{
  color: #23ce23;
  background: transparent;
  border: 1px solid #23ce23;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
  font-size: 14px;
}
.resumeButton:hover{
  background:#23ce2325;
  color: #52E28E;
}