.projects{
    max-width: 900px;
}

.projectHeading{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: clamp(26px, 5vw);
    white-space: nowrap; 
}
.projectHeading::after{
    content: "";
    display: block;
    background-color: #B9D8F3;
    position: relative;
    top: 1px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
}
.projectData{
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -moz-box-align: center;
    align-items: center;
    display: grid;
    margin-bottom: 100px;
}
.projectContent{
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    grid-column: 7 / -1;
    text-align: right;
}
@media screen and (min-width: 768px){
    .projectTitle{
        margin: 0px 0px 20px;
    }
}
.projectTitle{
    color: #23CE6B;
    font-size: clamp(24px, 5vw, 28px);
}
.projectDescription{
    box-shadow: 0 10px 30px -15px rgba(0,0,0, 0.5);
    position: relative;
    z-index: 2;
    padding: 25px;
    border-radius: 5px;
    background-color: #A39BA8;
    color: #272D2D;
    font-size: 15px;
}
.projectDescription p:last-child , p:last-of-type{
    margin: 0px;
}
.projectTechList{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: outside none none;
    -moz-box-pack: end;
    justify-content: flex-end;
}
.projectTechList li{
    margin: 0px 0px 5px 20px;
    color: #B9D8F3;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    white-space: nowrap;
}
.projectLinks{   
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
    color: #23ce23;
    -moz-box-pack: end;
    justify-content: flex-end;
}
.projectLinks a {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    padding: 10px;
}
.projectImage{
    box-shadow: 0 10px 30px -15px rgba(250, 249, 249, 0.5);
    grid-area: 1 / 6 / -1 / -1;
    grid-column: 1 / 8;
    position: relative;
    z-index: 1;
    height: 360px;
}
.projectImage a{
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    vertical-align: middle;
}



